<div class="signup">

 
    <div class="steps">
        <span [ngClass]="{'back-bar': true, '--active-bar': currentStep > 1}" [attr.position]="currentStep"></span>
        <div class="step" *ngFor="let step of steps; index as activeStep" [attr.name]="step.name"
            [ngClass]="{'--active': step.active}">
            <span class="step-number">
                <img class="finished-step" *ngIf="step.finished" src="/assets/icons/check-icon.svg" alt="check icon">
                <label *ngIf="!step.finished">{{activeStep + 1}}</label>
            </span>
            <span class="step-finished">
            </span>
            <span class="step-text">{{step.name}}</span>
        </div>
    </div>

    <div [ngSwitch]="currentStep">
        <div *ngSwitchCase="1">
            <ng-container *ngTemplateOutlet="firstStep"></ng-container>
        </div>
        <div *ngSwitchCase="2">
            <ng-container *ngTemplateOutlet="secondStep"></ng-container>
        </div>
    </div>
</div>

<ng-template #firstStep>
    <div class="form-container">
        <form>
            <pod-form-field #name class="name" labelText="Name" type="text" [validations]="fieldsValidators.name">
            </pod-form-field>
            <pod-form-field #email class="email" labelText="Email" type="email" [validations]="fieldsValidators.email">
            </pod-form-field>
            <button class="next" (click)="nextStep([name,email])">Next</button>
        </form>
        <ng-container *ngTemplateOutlet="signinAnchor"></ng-container>
    </div>
</ng-template>


<ng-template #secondStep>
    <div class="form-container">
        <form>
            <pod-form-field 
                #password 
                class="password" 
                labelText="Password" 
                type="password"
                [validations]="fieldsValidators.password" 
                (change)="checkPasswordMatch($event,formValues.repeatedPassword)">
            </pod-form-field>

            <pod-form-field 
                #repeatPassword 
                class="repeat-passowrd" 
                labelText="Confirm password" 
                type="password"
                [validations]="fieldsValidators.password" 
                (change)="checkPasswordMatch(formValues.password,$event)"
                >
            </pod-form-field>

            <span class="errorMessage" *ngIf="formErrorMessage && !passwordsMatch">{{formErrorMessage}}</span>
            <button class="submit" (click)="submit($event, [password,repeatPassword])">Sign up</button>
        </form>
        <ng-container *ngTemplateOutlet="signinAnchor"></ng-container>
        <button class="back" (click)="prevStep($event)">
            <img src="assets/icons/arrow-left.svg" alt="back icon">
            Back
        </button>
    </div>
</ng-template>


<ng-template #signinAnchor>

    <footer>
        <button class="already-have-account">I already have an account, <a
                [routerLink]="['/sign-in']">signin</a></button>
    </footer>
</ng-template>