@use '/src/app/global/global' as global; 


:host{
    display: inline;
    cursor: pointer;
    

    .card{
        
        width: inherit;
        background: global.$white;

        .card-title{
            font-size: 1.8rem;
            color: global.$text;
            margin-top: .5rem;
        }
        
        .card-description{
            font-size: 1.4rem;
            color: global.$text-medium-gray;
            max-width: 19rem;
        }
        
        .badge-wrapper{
            background-color: rgba($color: global.$primary, $alpha: .21);
            font-size: 0.76rem;
            width: 6rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 10px;
            transition: .5s ease;
            
            .badge{
                font-size: 1rem;
                color: global.$primary;
                transition: inherit;
            }
        }

        
        &:hover{
            .badge-wrapper{
                background-color: global.$primary;
                
                .badge{
                    color: global.$white;
                }
            }
        }
        
        .card-title,.card-description{
            margin: 1.7rem 0;
        }
        
        &.--default{
            min-height: 289px;
            display: block;                        
            
            img{
                width: 100%;
                height: 171px;
            }
        }
        
        &.--inline{
            border: 1px solid global.$primary;
            padding: 1rem 4rem;
            display: block;                        
            

            figure, figcaption{
                
                display: flex;
                align-items: center;
            }

            .card-title,.card-description{
                margin: .7rem 0;
                max-width: none;
            }
            

            figure{
                column-gap: 5rem;
            }

            figcaption{
                flex: 1;
                justify-content: space-between;
            }

            img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
        }
    }
}