@use '/src/app/global/global' as global; 

:host{

    display: block;
   
    footer{
        width: 100%;
        background-color: global.$primary;

        .footer-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 5rem 0;
            min-height: 22rem;
            gap: 3rem;

            img{
                width: 13.3rem;
            }

            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 5rem 9.6rem;
                align-items: center;

                li{
                    flex: 1 auto;
                    cursor: pointer;

                    .button{
                        cursor: inherit;
                        color: global.$white;
                        border: 0;
                        background: none;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}