<div class="audio-control-container" [class]="(audioIsOpen | async) ? '--open' : '--closed'">

    <div class="audio-control-inner">
        <div class="control">
            <div>
                <button  [ngClass]="['play-pause-button']" (click)="playingInstance.toggle()">
                    <img [src]="playingInstance.playPauseCurrentIcon" alt="audio control">
                </button>

                <div class="audio">
                    <header>
                        <span class="audio-name">my audio</span>
                        <span class="audio-timing">0:55 / 2:30</span>
                    </header>
                    <footer>
                        <div class="audio-bar-container">
                            <span class="audio-progress-bar"></span>
                        </div>
                    </footer>
                </div>
            </div>

            <div class="audio-controls">
                <div>
                    <button class="mute-unmute-button" (click)="toggleVolume()">
                        <img [src]="volumeInstance.mutedUnmutedCurrentIcon" alt="muted icon">
                    </button>
                    <input type="range" #range (change)="changeVolume($event)" class="range-input">
                </div>
                <button class="repeat-button" (click)="repeatInstance.toggle()">
                    <img [src]="repeatInstance.repeatNotRepeatCurrentIcon" alt="repeat icon">
                </button>
            </div>
        </div>
        <button (click)="closeAudio()">
            <img src="assets/icons/close-icon.svg" alt="close icon">
        </button>
    </div>
</div>