@use "/src/app/global/global" as global;

:host {
  overflow: hidden;
  transition: 0.5s ease;

  &.closed {
    pointer-events: none;
    height: 0;
  }
}

.audio-control-container {
  display: flex;
  align-items: center;
  background-color: global.$light-gray;
  padding: 0rem 2rem;
  height: 100%;
  transition: 0.5s ease;

  &.--opend {
    transform: translateY(0%);
  }

  &.--closed {
    transform: translateY(100%);
  }

  .audio-control-inner {
    max-width: 120rem;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;

    .control {
      display: flex;
      align-items: center;
      column-gap: 5rem;
      flex: 1;

      & div {
        display: inherit;
        align-items: inherit;
      }

      > div {
        column-gap: 10rem;
      }

      div.audio-controls {
        column-gap: 3rem;
        margin-left: 5rem;
      }

      .audio {
        justify-content: center;
        flex-direction: column;
        row-gap: 0.7rem;
        transform: translateY(-0.8rem);

        header,
        footer {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .audio-bar-container {
          width: 51rem;
          background: global.$medium-gray;
          height: 3px;
          display: block;

          .audio-progress-bar {
            display: block;
            width: 35%;
            height: 100%;
            background-color: global.$primary;
          }
        }
      }

      .play-pause-button {
        border: 1px solid global.$primary;
        width: 4rem;
        height: 4rem;
        display: grid;
        place-content: center;
        border-radius: 50%;
        background: global.$primary;
        transition: 0.5s ease;
        position: relative;
        cursor: pointer;
      }

      .repeat-button {
        display: grid;
        place-content: center;

        img {
          width: 80%;
          margin-top: 0.2rem;
        }
      }

      .mute-unmute-button,
      .repeat-button {
        border: 0;
        background: none;
        overflow: hidden;
        width: 1.5rem;
        cursor: pointer;
        display: grid;
        place-content: center;

        img {
          margin: 0 auto;
        }
      }
    }

    & > button {
      background: none;
      border: 0;
      cursor: pointer;

      img {
        width: 50%;
      }
    }
  }
}
