@use '/src/app/global/global' as global; 

.cards-container{

    header{

     display: flex;
     align-items: center;
     justify-content: space-between;

     h2{
        font-size: 2.4rem;
        font-weight: 500;
        color: global.$text;
     }
    }

    .cards-container-content{
        margin-top: 5.8rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(271px, 1fr));
        gap: 7rem 3rem;
        flex-wrap: wrap;
        
        &.inline{
            
            grid-template-columns: 1fr;
            gap: 2rem;
            transition: .5s ease;
        }
    }
}

.no-content{
    padding: 10rem 0 0;
    
    & > * {
        margin: 0 auto;
        display: block;
    }

    img{
        width: 10rem;
        opacity: .4;
    }
    
    p{
        margin-top: 5rem;
        text-align: center;
        max-width: fit-content;
        font-size: 2rem;
        font-weight: 300;
        color: global.$text-medium-gray;
    }
}