<section class="cards-container">
    <header>
        <h2>{{title}}</h2>
    </header>
    <div [class]="['cards-container-content', getlistStyle()]"  [@taskListAnimation] *ngIf="cardsList.length; else noData">
        <pod-card 
            *ngFor="let item of cardsList" 
            [cardType]="getlistStyle()" 
            [badgeText]="item.badgeText"
            [title]="item.title"
            [imgUrl]="item.imgUrl"
            [description]="item.description"
            [click]="item.click"></pod-card>
    </div>
</section>


<ng-template #noData>
    <div class="no-content">
        <img src="assets/illustrations/no_data.svg" alt="No data found">
        <p>No podbooks</p>
    </div>
</ng-template>