@use "/src/app/global/global" as global;

:host {
  display: block;
    margin-bottom: 10rem;
    
  .my-podbooks {
    margin-top: 10rem;

    header {
      text-align: center;
      display: flex;
      justify-content: center;

      h2 {
        color: global.$primary;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;

        &::after,
        &::before {
          content: "";
          height: 1px;
          width: 5rem;
          display: block;
          background-color: global.$primary;
          animation: lineAnimation 0.3s ease forwards;

          @keyframes lineAnimation {
            from {
              width: 0;
            }
            to {
              width: 5rem;
            }
          }
        }
      }
    }

    .my-podbooks-container {
      margin-top: 10rem;

      .add-podbooks{
        background: none;
        color: global.$primary;
        border: none;
        outline-color: global.$primary;
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 1rem;
        width: 135px;
        font-size: 1.6rem;
        text-decoration: none;
        transition: .3s ease;

        &:hover{
          filter: brightness(120%);
        }


        &::after{
          content: "+";
          display: block;
          color: global.$white;
          background-color: global.$primary;
          width: 2rem;
          height: 2rem;
          text-align: center;
          border-radius: 50%;
        }
      }
    }
  }
}

