@use '/src/app/global/global' as global; 

.button-control{

    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: none;
    transition: .5s ease;
    position: relative;
    cursor: pointer;    

    span{
        content: "";
        border-radius: 50%;
        display: block;
        position: absolute;
        width: 7rem;
        height: 7rem;
        opacity: 0;
        background-color: global.$primary ;
        z-index: 0;
        inset: -15px;
        pointer-events: none;
    }


}

@keyframes controlStatus{
    to{
        opacity: .5;
        width: inherit;
        height: inherit;
        inset: 0;
    }
}
    
:host{

    // background-color: global.$primary;
    border-radius: 50%;

    .--on{
        background-color: global.$primary;
    }   
            
    border: 1px solid global.$primary;
    display: block;

    &.--withAnimation {
        
        .--on span{
            animation: controlStatus .5s ease-in-out reverse forwards;
        }
    }
}
