<div class="explore-page-container">
    <header class="banner">
        <h2 class="title">Explore</h2>
        <pod-form-field type="search" placeholder="search"></pod-form-field>
    </header>


    <div class="list-container">
        <header class="list-container-header" *ngIf="exploreCards.length > 0">
            <pod-style-list (stateListChanges)="changeStyleList($event)"></pod-style-list>
        </header>
        <pod-cards-container 
            title="Podbooks" 
            [listStyle]="listStyle" 
            [cardsList]="exploreCards" 
            [loading]="loading"></pod-cards-container>
    </div>
</div>
