@use "/src/app/global/global" as global;
@use "/src/app//global/shared-styles/shared" as shared;

.signin {
  margin: 35rem auto 25rem;
  opacity: 0;
  transform: translateY(100px);
  animation: appearAnimation 0.5s ease-in-out forwards;

  .form-container {
    margin: 0 auto;
    display: block;
    max-width: 43rem;

    button {
      border: 0;
      cursor: pointer;
      background: none;
      transition: 0.5s;

      &:hover {
        opacity: 0.9;
      }
    }

    form {
      .email,
      .password,
      .submit {
        margin: 3rem 0;
        display: block;
      }

      .forgot-password {
        display: block;
        margin: 0;
      }

      .submit {
        border-radius: 5px;
        width: 100%;
        padding: 1.4rem 2rem;
        margin-top: 4rem;
        background-color: global.$primary;
        color: global.$white;
      }
    }

    .forgot-password,
    .create-account {
      color: global.$dark-gray;
      font-weight: 300;
    }

    .create-account {
      span {
        color: global.$primary;
      }
    }
  }
}
