<div class="signin">

    <div class="form-container">
        <form>
            <pod-form-field class="email" labelText="Email"></pod-form-field>
            <pod-form-field class="password" labelText="Password" type="password"></pod-form-field>
            <button class="forgot-password">Forgot password?</button>
            <button class="submit">Login</button>
        </form>

        <footer>
            <button class="create-account" [routerLink]="['/sign-up']">Create my account</button>
        </footer>
    </div>

</div>