<div class="explore-page-container">
    <header class="banner">
        <h2 class="title">Explore</h2>
        <pod-form-field type="search"></pod-form-field>
   </header>

   <section class="cards-container">
       <header>
           <h2>Action</h2>
           <pod-style-list></pod-style-list>
       </header>
       <div class="cards-container-content">
           <pod-card></pod-card>
           <pod-card></pod-card>
           <pod-card></pod-card>
           <pod-card></pod-card>
       </div>
   </section>

   
   <section class="cards-container">
    <header>
        <h2>Adventure</h2>
    </header>
    <div class="cards-container-content">
        <pod-card></pod-card>
        <pod-card></pod-card>
        <pod-card></pod-card>
        <pod-card></pod-card>
    </div>
</section>
</div>

<pod-float-button [callback]="call"></pod-float-button>