<div class="explore-page-container">
    <header class="banner">
        <h2 class="title">Explore</h2>
        <pod-form-field type="search" placeholder="search"></pod-form-field>
    </header>


    <div class="list-container">
        <header class="list-container-header">
            <pod-style-list (stateListChanges)="changeStyleList($event)"></pod-style-list>
        </header>
        <pod-cards-container title="Action" [listStyle]="listStyle"></pod-cards-container>
        <pod-cards-container title="Adventure" [listStyle]="listStyle"></pod-cards-container>
    </div>
</div>

<pod-float-button [callback]="call" src="assets/icons/plus-icon.svg"></pod-float-button>