@use '/src/app/global/global' as global; 
@use "sass:math";

 .studio{

            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 17rem;

            button{
                border: none;
                cursor: pointer;
            }

            .microphone{
                background-color: global.$primary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                height: 20.4rem;
                width: 20.4rem;
                margin-top: 2rem;
                opacity: 0;
                animation: splashAnimation .5s ease-in-out forwards;
                transform: scale(.8);

                @keyframes splashAnimation{
                    to{
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                @keyframes recordingStatus{
                    from {
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                        width: inherit;
                        height: inherit;
                    }
                }

                &::after,&::before, span::after{
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    display: block;
                    background-color: global.$primary;
                    z-index: 0;
                    pointer-events: none;
                }

                &::before{
                    height: 25rem;
                    width: 25rem;
                    
                }
                
                &::after{
                    height: 30rem;
                    width: 30rem;


                }

                span{
                    position: relative;
                    width: inherit;
                    height: inherit;
                    display: inherit;
                    align-items: inherit;
                    justify-content: inherit;
                    

                    &::after{
                        height: 35rem;
                        width: 35rem;
                    }
                        
                    img{
                        filter: invert(100%);
                        transform: scale(4.5);
                        z-index: 5;

                    }
                }
                
                &.--recording{
                
                    &::after,&::before,span::after{
                        animation: recordingStatus 1.2s ease-in-out infinite reverse;
                    }
                    
                    &::after{
                        opacity: 0;
                    }
                    
                    span::after{
                        opacity: 0;
                    }
                }

                &.--stopped{
                
                    &::after,&::before,span::after{
                        animation: none;
                        opacity: 0;
                    }
                }


            }

            footer{
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 7rem;
                margin-top: 23rem;

                @keyframes staggerAnimation{
                    to{
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                
                .control-button{
                    opacity: 0;
                    transform: translateY(50px);
                    transition: .5s ease;
                    animation: staggerAnimation 1s cubic-bezier(0.68, -0.6, 0.32, 3) forwards;

                    
                    @for $i from 0 to 6 {
                        
                        &:nth-child(#{$i}){
                            animation-delay: #{math.div($i, 10)}s;
                        }
                    }
                }
            }
        }