@use '/src/app/global/global' as global; 

:host {
    font-family: sans-serif;
    height: auto;
    width: auto;
    border-radius: 5px;
    display: block;
  
    ul {
      list-style: none;
      display: flex;
      column-gap: 1rem;
      padding: 0;
      justify-content: center;
  
      li {
        text-align: center;
        cursor: pointer;
        border-radius: 50px;
        padding: .6rem;
        transition: .5s ease;
        border: 1px solid global.$primary;
        min-width: 8em;
      }
    }
  
    .--selected {
      background-color: global.$primary;
      color: global.$white;
    }
  }