@use "/src/app/global/global" as global;

.field-wrapper {
  min-width: 35.5rem;
  width: auto;

  label,
  span,
  input {
    transition: 0.2s ease;
  }

  label {
    display: inline;
    color: global.$dark-gray;
    font-size: 1.2rem;
  }

  div {
    background-color: global.$light-gray;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    min-height: 5rem;
    border-radius: 5px;
    overflow: hidden;
    padding: 1rem 2rem;
    cursor: text;
    border: 1px solid transparent;

    input {
      outline: none;
      border: 0;
      flex: 1;
      height: 100%;
      background: transparent;
      font-size: 1.6rem;
      color: global.$text;

      &::-webkit-input-placeholder {
        color: global.$dark-gray;
        font-weight: 300;
      }

      &[type="search"]{

        padding-right: 1rem;
        
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          -webkit-appearance: none;
        }
      }
    }
  }

  button {
    border: 0;
    background: 0;
    height: auto;
    line-height: 0;

    img {
      width: 20px;
    }
  }

  &.invalid {
    label {
      color: global.$red;
    }

    & div {
      border-color: global.$red;
    }
  }

  &:focus-within {
    label {
      color: global.$primary;
    }

    div {
      border: 1px solid global.$primary;
    }

    &.invalid {
      label {
        color: global.$red;
      }

      div {
        border-color: global.$red;
      }
    }
  }
}

.error-message {
  color: global.$red;
  display: block;
  height: 2rem;
  line-height: 3rem;
}
