<label>
    <div [ngClass]="{'form-field-wrapper': true, 'invalid': input.invalid && input.dirty}">
        <label *ngIf="labelText" [for]="id">{{labelText}}</label>
        <span>
            <input [formControl]="input" [id]="id" [placeholder]="placeholder" [type]="type"
                *ngIf="type !== 'password'; else passwordInput">
            <img *ngIf="getFormFieldIcon()" [src]="'assets/icons/' + getFormFieldIcon()?.icon + '.svg'"
                [alt]="getFormFieldIcon()?.name">
        </span>
    </div>
    <ng-container *ngIf="input.invalid && input.dirty" [ngTemplateOutlet]="error"></ng-container>
</label>

<ng-template #passwordInput>
    <input [formControl]="input" [id]="id" [placeholder]="placeholder" [type]="passwordVisibilityIcon.type">
    <button *ngIf="type === 'password'" (click)="showHidePassword($event)">
        <img [src]="'assets/icons/' + passwordVisibilityIcon.active_icon + '.svg'">
    </button>
</ng-template>


<ng-template #error>
    <span class="error-message">{{validationCurrentErrorMessage}}</span>
</ng-template>