<label>
    <div [ngClass]="{'field-wrapper': true, 'invalid': !!input.errors && input.dirty || validationCurrentErrorMessage}">
        <label *ngIf="labelText" [for]="id">{{labelText}}</label>
        <div>
            <input 
                #inputRef 
                [formControl]="input" 
                [attr.id]="id" 
                [attr.name]="id" 
                [placeholder]="placeholder" 
                [type]="type"
                *ngIf="type !== 'password'; else passwordInput">
            <img 
                *ngIf="getFormFieldIcon()" 
                [src]="'assets/icons/' + getFormFieldIcon()?.icon + '.svg'"
                [alt]="getFormFieldIcon()?.name">
        </div>
    </div>
    <ng-container *ngIf="!!input.errors && input.dirty || validationCurrentErrorMessage" [ngTemplateOutlet]="error"></ng-container>
</label>

<ng-template #passwordInput>
    <input 
        #inputRef 
        [formControl]="input" 
        [attr.id]="id" 
        [attr.name]="id" 
        [attr.placeholder]="placeholder" 
        [type]="passwordVisibilityIcon.type">
    <button 
        *ngIf="type === 'password'" 
        (click)="showHidePassword($event)">
        <img [src]="'assets/icons/' + passwordVisibilityIcon.active_icon + '.svg'">
    </button>
</ng-template>


<ng-template #error>
    <span class="error-message">{{validationCurrentErrorMessage}}</span>
</ng-template>