<div class="home-page-container">
     <header class="banner">
        <div class="banner-text-container">
            <h1 class="title">The best place to talk about books world</h1>
            <h3 class="second-text">Into an immersive experience</h3>
            <button class="cta-button">explore</button>
        </div>
        <img src="assets/illustrations/book-lover.svg" alt="Banner imaage">
    </header>

    <section class="cards-container">
        <header>
            <h2>Recent podbooks</h2>
            <pod-style-list></pod-style-list>
        </header>
        <div class="cards-container-content">
            <pod-card></pod-card>
            <pod-card></pod-card>
            <pod-card></pod-card>
            <pod-card></pod-card>
        </div>
    </section>
</div>

<pod-float-button [callback]="call"></pod-float-button>