<div class="studio">

    <span [ngClass]="['alert', alert.type]">{{alert.message}}</span>

    <button [ngClass]="['microphone', getRecordingStatusClass()]" (click)="toggleRecordingStatus()">
        <span>
            <img src="assets/icons/microphone-icon.svg" alt="Microphone icon">
        </span>
    </button>

    <footer>
        <pod-button [attr.disabled]="actionButtonsDisabled"  name="salvar" class="control-button" (click)="openModal()"
            icon="assets/icons/save-icon-white.svg" borderRadius='50px'>
        </pod-button>
        <pod-button [attr.disabled]="actionButtonsDisabled" name="compartilhar" class="control-button"
            icon="assets/icons/share-icon-white.svg" borderRadius='50px'>
        </pod-button>

        <pod-button [attr.disabled]="actionButtonsDisabled"  name="descartar" class="control-button"
            icon="assets/icons/delete-icon-white.svg" borderRadius='50px'>
        </pod-button>

        <pod-button [attr.disabled]="actionButtonsDisabled"  name="repetir" class="control-button"
            icon="assets/icons/repeat-recording-icon-white.svg" borderRadius='50px'>
        </pod-button>
    </footer>

</div>


<div id="modal" [attr.visibility]='modalIsVisible' (click)="closeModal($event)">


    <div class="modal-content">

        <h1>Save my podbook</h1>

        <div class="modal-body">

            <label for="upload-file" #previewLabel>
                <img src="assets/illustrations/gallery.svg" alt="preview image" #preview class="prev" [attr.havePreview]="false">
                <input type="file" accept="image/png, image/jpeg" id="upload-file" (change)="setImagePreview($event)" #file>
            </label>


            <div class="text-fields">

                <pod-form-field class="field-title" #title labelText='podbook title' [validations]="modalFieldsValidators.title"></pod-form-field>
                <pod-form-field class="field-category" #category labelText='podbook category' [validations]="modalFieldsValidators.category"></pod-form-field>
                <pod-form-field class="field-description" #description labelText='podbook description' [validations]="modalFieldsValidators.description"></pod-form-field>

                <pod-button 
                    class="save-button" 
                    contentText="save podbook" 
                    width='100%' 
                    height="50px"
                    borderRadius="5px"
                    [attr.disabled]="buttonIsDisabled"
                    (click)="saveRecordedAudio([title,category,description], file)"
                >
                <div role="progressbar" class="loader" *ngIf="loading"></div>
                <span  role="text" *ngIf="!loading" #textButton>save</span>
                </pod-button>
            </div>
        </div>
    </div>

</div>