@use "/src/app/global/global" as global;

:host {
  overflow-x: hidden;
}

.footer-wrapper,
.header-wrapper {
  width: 100%;
  box-shadow: 0 0 10px rgba($color: global.$primary, $alpha: 0.2);
  position: sticky;
  top: 0;
  z-index: 5;

  & > * {
    max-width: 120rem;
    margin: 0 auto;
  }

  .pod-footer {
    max-width: 140rem;
  }
}

.footer-wrapper {
  position: relative;
}

.background-image {
  width: 60%;
  position: absolute;
  z-index: 0;
  filter: opacity(0.1) grayscale(100%);
  left: 50%;
}

.app-container {
  max-width: 120rem;
  margin: 0 auto;
  overflow-x: hidden;

  .audio-control-bar {
    display: block;
    width: 100%;
    height: 7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
  }
}

.footer-wrapper {
  background: global.$primary;
}
