@use "/src/app/global/global" as global;

:host {
  display: inline;
  cursor: pointer;

  .card {
    width: inherit;
    background: global.$white;
    position: relative;

    header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      z-index: 1;
      padding: 1.4rem 2rem;

      .context-menu {
        height: 30px;
        width: 34px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:hover ul {
          opacity: 1;
          pointer-events: all;
        }

        ul {
          opacity: 0;

          list-style: none;
          width: max-content;
          max-width: 120px;
          pointer-events: none;

          li {
            border-radius: 2px;
            background-color: global.$white;
            display: flex;
            column-gap: 1rem;
            transition: 0.5s;
            padding: 1rem;
            overflow: hidden;
            border-left: 3px solid transparent;

            &:hover {
              border-color: global.$primary;
              background-color: global.$light-gray;
            }

            span {
             
              img {
                width: 13px;
                height: 13px;
              }
            }
          }
        }

        .ellipsis-icon {
          background-color: global.$white;
          border-radius: 50%;
          display: block;
          width: 25px;
          height: 25px;
          padding: 0.5rem;
          display: grid;
          place-content: center;
          position: relative;

          img {
            width: inherit;
            height: inherit;
            position: relative;
            display: block;
            padding: 0.6rem;
            border-radius: inherit;
            background-color: global.$white;
          }

          &:hover::before {
            transform: scale(1.4);
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            background: rgba($color: global.$white, $alpha: 0.3);
            border-radius: 50%;
            transition: 0.3s ease;
          }

          &:focus,
          &:active {
            & + ul {
              opacity: 1;
              pointer-events: all;
            }
          }
        }

        ul,
        li {
          &:active,
          &:focus {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

    .card-title {
      font-size: 1.8rem;
      color: global.$text;
      margin-top: 0.5rem;
    }

    .card-description {
      font-size: 1.4rem;
      color: global.$text-medium-gray;
      max-width: 19rem;
      position: relative;
    }

    .badge-wrapper {
      background-color: rgba($color: global.$primary, $alpha: 0.21);
      font-size: 0.76rem;
      width: fit-content;
      max-width: 11rem;
      height: 2rem;
      display: grid;
      place-items: center;
      border-radius: 10px;
      transition: background-color 0.5s ease, color 0.5s ease;

      .badge {
        font-size: 1rem;
        text-align: center;
        color: global.$primary;
        transition: inherit;
        padding: 0 1rem;
        width: inherit;
        max-width: inherit;
        display: inline-block;
        transition: inherit;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include global.getCustomBreakpointMediaQuery(tablet, max-width) {
          font-size: 1.6rem;
        }
      }
    }

    &:hover {
      .badge-wrapper {
        background-color: global.$primary;

        .badge {
          color: global.$white;
        }
      }

      &.--default .img-container img {
        transform: scale(1.1);
      }
    }

    .card-title,
    .card-description {
      margin: 1.7rem 0;
    }

    &.--default {
      min-height: 289px;
      display: block;

      .card-text {
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 47%;
          background: linear-gradient(180deg, transparent, #ffffff);
          position: absolute;
          top: 75px;
          left: 0;
          z-index: 0;
        }
      }

      .img-container {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding-top: 75%;
        position: relative;

        img {
          display: block;
          position: absolute;
          width: 100%;
          transition: transform 0.2s ease;
          height: 100%;
          top: 0;
        }
      }

      .badge-wrapper {
        margin-top: 3rem;
        position: relative;
        z-index: 1;
      }

      ul {
        padding-top: 1rem;
      }
    }

    &.--inline {
      border: 1px solid global.$primary;
      padding: 1rem 4rem;
      transition: box-shadow 0.5s ease;
      width: auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      column-gap: 2rem;

      header {
        position: relative;
        width: auto;
        display: block;
        padding: 0;
        height: 30px;

        .context-menu {
          position: relative;
          z-index: 20;
          min-height: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: none;

          ul {
            opacity: 1;
            display: flex;
            align-items: center;
            margin-top: 0;
            padding-top: 0;
            height: inherit;

            li {
              padding: 0;
              overflow: initial;

              span {
                width: 30px;
                height: 30px;
                background-color: transparent;
                border-radius: 50%;
                display: grid;
                place-content: center;
                transition: background-color 0.5s ease;
                box-sizing: border-box;
                padding: 2rem;

                img {
                  width: 15px;
                  height: 15px;
                  border-radius: 0;
                }

                &:hover {
                  background-color: rgba($color: global.$primary, $alpha: 0.1);
                }

                &:first-child {
                  display: none;
                }
              }
            }

            li:hover {
              border-color: transparent;
              color: global.$primary;
              background: none;
            }
          }

          .ellipsis-icon {
            display: none;

            img {
              background-color: transparent;
            }

            &::before {
              background: rgba($color: global.$primary, $alpha: 0.2);
            }

            &:focus,
            &:active {
              border: 2px solid red;

              & ~ ul {
                opacity: 1;
                pointer-events: all;
              }
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 10px 10px #8348ff1a;
      }

      figure,
      figcaption {
        display: flex;
        align-items: center;
      }

      .card-title,
      .card-description {
        margin: 0.7rem 0;
        max-width: 40rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      figure {
        column-gap: 5rem;
        flex: 1;
      }

      figcaption {
        flex: 1;
        justify-content: space-between;
      }

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
      }
    }
  }
}
