<div [ngClass]="[selector,getCardTypeClass()]" [style.width]="width">
    <header>
        <div class="context-menu">
            <span class="ellipsis-icon" tabindex="0" #ellipsis>
                <img src="assets/icons/ellipsis-icon.svg" alt="ellipsis icon">
            </span>
            <ng-container [ngTemplateOutlet]="context_menu"></ng-container>
        </div>
    </header>
    <figure (click)="callback()">
        <div class="img-container">
            <img [src]="imgUrl" #img (error)="handleMissingImage(img)">
        </div>
        <figcaption>
            <div class="card-text">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-description">{{ description }}</p>
            </div>
            <div class="badge-wrapper" *ngIf="badgeText">
                <span class="badge">{{ badgeText }}</span>
            </div>
        </figcaption>
    </figure>
</div>

<ng-template #context_menu>
    <ul>
        <li tabindex="0" #option (keyup.enter)="manageA11yContextMenuFocus(option, ellipsis)">
            <span>share podbook</span>
            <span title="share podbook"><img src="assets/icons/share-icon.svg" alt="share icon"></span>
        </li>
    </ul>
</ng-template>