@use '/src/app/global/global' as global; 

.button-control{
        
    border: 1px solid global.$primary;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background: none;
    transition: .5s ease;
    position: relative;
    cursor: pointer;    

    @keyframes controlStatus{
        to{
            opacity: .5;
            width: inherit;
            height: inherit;
            inset: 0;
        }
    }

    &.--on{
        background-color: global.$primary;

        &::after{
            opacity: 0;
            content: "";
            position: absolute;
            border-radius: 50%;
            display: block;
            width: 7rem;
            height: 7rem;
            background-color: global.$primary;
            z-index: 0;
            pointer-events: none;
            inset: -15px;
            animation: controlStatus .5s ease-in-out reverse forwards;
        }
    }   
}
