@use "/src/app/global/global" as global;

$breakpoint: global.getBreakPoints(tablet) - 1px;

:host {
  display: block;

  .ribbon {
    $height: 2rem;

    background: global.$white;
    display: block;
    width: 1.7rem;
    height: $height;
    position: absolute;
    left: 12vw;

    &::after {
      content: "";
      width: 0;
      height: 0;
      background: global.$white;
      border-color: transparent transparent global.$primary transparent;
      border-style: solid;
      border-width: 8.5px;
      display: block;
      transform: translateY($height);
    }
  }

  footer {
    width: 100%;
    background-color: global.$primary;
    padding: 0 10rem;

    .footer-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 8rem 0;
      min-height: 22rem;
      gap: 7rem 3rem;

      img {
        width: 13.3rem;
      }

      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        align-items: center;

        li {
          flex: 1 auto;
          cursor: pointer;

          .button {
            cursor: inherit;
            color: global.$white;
            border: 0;
            background: none;
            font-size: 1.6rem;
          }
        }
      }
    }

    
    @include global.getCustomBreakpointMediaQuery($breakpoint, max-width) {
      padding: 0 5rem;

      .footer-wrapper{
        
        img{
          display: block;
          margin: 0 auto;
        }

        ul{
          margin: 0 auto;
        }
      }
    }
  }
}
