<div class="home-page-container">
    <header class="banner">
        <div class="banner-text-container">
            <h1 class="title">The best place to talk about books world</h1>
            <h3 class="second-text">Into an immersive experience</h3>
            <button class="cta-button">explore</button>
        </div>
        <img src="assets/illustrations/book-lover.svg" alt="Banner imaage">
    </header>

    <section>
        <header *ngIf="homeCards.length > 0">
            <pod-style-list (stateListChanges)="changeStyleList($event)"></pod-style-list>
        </header>
        <pod-cards-container title="Recent podbooks" [listStyle]="listStyle" [cardsList]="homeCards"
            [itemsCallbackFunction]="callbackTest"></pod-cards-container>
    </section>

</div>