@use '/src/app/global/global' as global; 

.home-page-container{
    min-height: 100vh;
    padding-bottom: 0;

    .banner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15rem;
        margin-bottom: 6rem;

        .title{
            color: global.$text;
            font-size: 6.3rem;
            font-weight: bolder;
            max-width: 58.4rem;
        }
        
        .second-text{
            font-weight: 300;
            color: global.$text;
            font-size: 2.4rem;
            margin-top: 2.3rem;
        }

        .cta-button{
            margin-top: 4.3rem;
            color: global.$white;
            background: global.$primary;
            cursor: pointer;
            border: none;
            padding: 1.2rem 4rem;
            border-radius: 10px;
            font-size: 2rem;
            width: 15.2rem;
            transition: .5s ease;
                
            &:hover{
                opacity: .9;
            }

        }

        img{
            max-width: 58.5rem;
            width: 100%;
        }
    }

    section{
        header{
            display: flex;
            justify-content: flex-end;
            transform: translateY(29px);
        }
    }

}



pod-cards-container{
    display: block;
    padding-bottom: 15rem;
}