<header>
    <div>
        <a [routerLink]="['/']">
            <img src="assets/logo/logo.svg" alt="Logo" class="logo">
        </a>
        <ul>
            <li [routerLink]="['/explore']">
                <button class="button">Explore</button> 
            </li>
            <li>
                <button class="button">Studio</button>
            </li>
            <li class="--signup">
                <button class="button">Sign up</button>
            </li>
            <li class="--signin">
                <button class="button">Sign In</button>
            </li>
        </ul>
    </div>
</header>