@use '/src/app/global/global' as global; 

:host{
    width: 100%;
    height: 7.3rem;
    display: block;
    font-size: 1.6rem;

    & div{
        height: 7.3rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        
        a{
            display: block;
            margin: auto 0;
            .logo{
                width: 3rem;
                height: 3.8rem;
            }
        }

        ul{
            display: flex;
            list-style: none;

            li{
                height: 100%;
                width: 13.5rem;
                display: grid;
                place-content: center;
                cursor: pointer;
                align-self: stretch;
            }

            .button{
                color: global.$primary;
                border: 0;
                background: none;
                cursor: pointer;
                font-size: inherit;
            }
            
            .--signup,.--signin{
                
                background-color: global.$primary;

                transition: .5s ease;
                
                &:hover{
                    opacity: .9;
                }
    

                .button{
                   color: global.$white;
                   cursor: pointer;
                }
            }

          
        }
    }
}